[Unit]
Description=Docker Compose elk-rsyslog starter
After=docker.service network-online.target
Requires=docker.service network-online.target

[Service]
WorkingDirectory=/opt/docker-elk-rsyslog
Type=oneshot
RemainAfterExit=yes

ExecStartPre=/usr/bin/docker-compose pull --quiet --parallel
ExecStart=/usr/bin/docker-compose -f docker-compose.yml -f extensions/rsyslog/rsyslog-compose.yml up -d

ExecStop=/usr/bin/docker-compose -f docker-compose.yml -f extensions/rsyslog/rsyslog-compose.yml down

ExecReload=/usr/bin/docker-compose pull --quiet --parallel
ExecReload=/usr/bin/docker-compose -f docker-compose.yml -f extensions/rsyslog/rsyslog-compose.yml up -d

[Install]
WantedBy=multi-user.target
